<div class="container">

    <ngb-carousel *ngIf="images">
        <ng-template ngbSlide *ngFor='let p of Pics'>
            <div class="row">
                <div class="col">
            
                    <div class="picsum-img-wrapper">
                        <img src="../../../assets/Pics/{{p.img}}" class="hero" alt="Random third slide">
                    </div>
                </div>
                <div class="col">
            
                    <p> {{p.text}} </p>
                </div>
            </div>
        </ng-template>   
    </ngb-carousel>
</div> 