.hero{
    
    height: 30vh;
    background-size: cover;
    position: relative;
}

.fixImg{
  max-width: 600px;
  max-height: 600px;
  min-width: 300px;
  min-width: 300px;
}

.sidenav {
    margin-top: 50px;
    height: 91%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }

  .main {
   /* Same as the width of the sidenav */
    font-size: 18px; /* Increased text to enable scrolling */
    padding: 0px 10px;
    word-wrap: break-word;
  }