<div class="container text-center myBg">
    <div class="row">
        <div class="col">
            <h2>Hi, Welcome To Learn How to Drive</h2>
            <p>Please click a button below to choice test or learn.</p>
        </div>
    </div>
    <div class="row">
        <div class="col myBox">
            <p>Please click the button below to see what practice test you can take</p>
            <button class="btn btn-success"routerLink="/TestPage">Test Page</button>
        </div>
        <div class="col myBox">
            <p>Please click the button below to see Some Info I think is useful</p>
            <button class="btn btn-success"routerLink="/Info">Info</button>
        </div>
    </div>

</div>
<div class="conatiner text-center">
    <div class="row">
        <div class="col">
            <img src="../../../assets/Pics/512x512bb.png">
        </div>
    </div>
</div>