<div class="container text-center">
    <div class="row">
        <div class="col">
            <h2>Hi, Welcome To Learn How to Drive</h2>
            <p>Please click a button below to choice test or learn.</p>
        </div>
    </div>
    <div class="row">
        <div class="col myBox">
            <p>Please click the button below to see what practice test you can take</p>
            <button routerLink="/TestPage">Test Page</button>
        </div>
        <div class="col myBox">
            <p>Please click the button below to see Some Info I think is useful</p>
            <button routerLink="/Info">Info</button>
        </div>
    </div>

</div>