<div class="container text-center myBg">
    <div class="row">
        <div class="col">
            <h2>Hi, Welcome To Learn How to Drive</h2>
            <p>Please click a button below to login or Go to the GuideBook.</p>
        </div>
    </div>
    <div class="row">
        <div class="col myBox">
            <p>{{isLoggedIn ? 'Click button to go to test page' : 'Please login before taking test'}}</p>
            <!-- <button class="btn btn-success"routerLink="/TestPage">Test</button> -->
            <button class="btn btn-success" (click)="isAbleToTest()">{{isLoggedIn ? 'Test' : 'Login'}}</button>
        </div>
        <div class="col myBox">
            <p>Here is some Info I think is useful</p>
            <button class="btn btn-success"routerLink="/GuideBook">GuideBook</button>
        </div>
    </div>

</div>
<div class="conatiner text-center">
    <div class="row">
        <div class="col">
            <img src="../../../assets/Pics/512x512bb.png">
        </div>
    </div>
</div>