.button {
  background-color: white; /* Green */
  border-color: #4CAF50 ;
  color: #4CAF50;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}
.button1:hover {
  background-color: #4CAF50;
  color: white;
}


.myBox{
  background-color: lightgrey;
width: 300px;
border: 15px solid green;
padding: 50px;
margin: 20px;
}
.myBg{
  background-color: yellow;
}
