.button {
  background-color: white; /* Green */
  border-color: #4CAF50 ;
  color: #4CAF50;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  outline: none !important;
  box-shadow: none;
  cursor: pointer;
}
.my-color{
  color: rgb(255, 254, 254);
  background-color: rgb(152, 10, 152);
}
.button1:hover {
  background-color: rgb(56, 56, 254);
  color: white;
}
#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: red;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 500px;
  font-size: 25px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 500px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 500px; opacity: 0;}
  to {bottom: 500px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 500px; opacity: 1;} 
  to {bottom: 500px; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 500px; opacity: 1;}
  to {bottom: 500px; opacity: 0;}
}