<div class="container text-center">
    <div class="row">
        <div class="col">
            <h1>We Have Alot of info about driving ,fine, and cars</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button (click)="Toggle1()">Auto Fails</button>
            <ul id="ToggleContent1">
                <h4>This is a list of things that automatically Fail you </h4>
            <p>#1 This is a list of things that auto fail you</p>
            <p>#2 Hitting a crub will fail you</p>
            <p>#3 not stoping for a pedestrian will fail you</p>
            <p>#4 not looking over your shoulder while going into a biking lane will fail you</p>
            </ul>
        </div>
        
        <div class="col">
        </div>
    </div>
</div>