<div class="container text-center">
    <div class="row">
        <div class="col">
            <h1>We Have Alot of info about driving ,fine, and cars</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <ul>
            <p>This is a list of things that auto fail you</p>
            <p>Hitting a crub will fail you</p>
            <p>not stoping for a pedestrian will fail you</p>
            <p>not looking over your shoulder while going into a biking lane will fail you</p>
            </ul>
        </div>
        <div class="col">
            
        </div>
    </div>
</div>