<div class="container">
    <div class="row mt-5">
        <div class="col-6 offset-2">
            <div class="card">
                <h5 class="card-header">Login</h5>
                <div class="card-body">
                    <form [formGroup]="registerForm" (ngSubmit)="submitForm()">
                        <div class="form-group">
                            <label for="username">User Name</label>
                            <input #uName type="text" id="username" formControlName="username" class="form-control" />
                            <small class="text-danger" *ngIf="username.invalid"> Username is required </small>
                        </div>
                        <div class="form-row">
                            <div class="form-group col">
                                <label for="password">Password</label>
                                <input #pWord type="password" id="password" formControlName="password"
                                    class="form-control" />
                                <div *ngIf="password.invalid">Password is required</div>
                                <div *ngIf="password.errors?.minlength">Password must be at least 6 characters</div>
                            </div>
                        </div>
                        <div class="row text-center">
                            <div class="col-4">
                                <button type="submit" class="btn btn-primary mr-1">Login</button>

                            </div>
                            <div class="col-3 mt-2">
                                <a href="/SignUp">SignUp</a>

                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

